.text
{
    font-size: 100px;
    display:  block;
}

.block
{
    display: block;
    width: 320px;
    height: 110px;
    background-color: cornsilk;
}

.ex
{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:white;
    border: 1px;
    border-color: black;    
    border-style: solid;
    
}